<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Request Header Parser</title>
</head>

<body>
  <header>
    <h1>
      <span>Request</span><wbr><span class="primary-color">Header</span><wbr><span>Parser</span>
    </h1>
  </header>

  <main>
    <section>
      <h2>Who am I?</h2>
      <pre>
        <span class="key">GET</span> /api/whoami
      </pre>
      <pre>
          {
          &emsp; <span class="key">"ipaddress"</span>: "159.20.14.100",
          &emsp; <span class="key">"language"</span>: "en-US,en;q=0.5",
          &emsp; <span class="key">"software"</span>: "Mozilla/5.0 ( ... ) Gecko/20100101 Firefox/50.0"
          }
        </pre>
      <a class="btn" href="api/whoami">Try it</a>
    </section>
  </main>

  <footer>
    <a class="link" href="https://github.com/sitek94">Maciek Sitkowski</a> 2021
  </footer>
</body>

</html>